<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="XJ_Entities" connectionString="metadata=res://*/Models.csdl|res://*/Models.ssdl|res://*/Models.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-61CG31N;Initial Catalog=XJ_MONITOR;Persist Security Info=True;User ID=sa;Password=1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>